.account__profile {
  align-self: start;
  /* margin-top: 12rem; */
}

.account__buttons {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.account__profile p {
  text-align: center;
  margin-top: 2rem;
}
