.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 4rem 0;
}

.sidebar__list button,
.sidebar__list a {
  display: block;
  padding: 1.4rem;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.8rem;
  color: var(--color-text-secondary);
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar__list button:hover,
.sidebar__list a:hover {
  color: var(--color-text-primary);
}

.sidebar__list a {
  text-decoration: none;
  color: var(--color-text-secondary);
}
