.leaflet-control-zoom {
  top: 8rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0.2rem 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}
.leaflet-touch .leaflet-bar {
  border: none;
  border-radius: 1.2rem;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
